@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  margin: 0;
  font-family: 'Mulish', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #11142d;
}
